.container {
    margin: auto;
    max-width: 600px;
}

h1 {
    color: #f0f0f0;
}

.done {
    text-decoration: line-through;
    color: rgb(180, 180, 180);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 30px;
    margin-top: 15px;
}

.card {
    background-color: #f0f0f0;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton {
    width: 50px;
    height: 50px;
    font-size: 24px;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.addButton:hover {
    background-color: rgb(48, 76, 160);
}

.buttonCard {
    border: none;
    cursor: pointer;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardModal {
    padding: 20px;
    background-color: white;
}

.hide {
    display: none;
}